:root {
    font-size: 62.5%;

    /* Font Sizes */
    --font-size-h1: 4.8rem;
    --font-size-h2: 4rem;
    --font-size-hero-p: 1.8rem;
    --font-size-button: 1.6rem;
    --font-size-mobile: 1.4rem;
    --font-size-nav: 2rem;

    /* Colors */
    --color-primary: #553D67;
    --color-secondary: #F64C72;
    --color-text-light: #BBC8D4;
    --color-text-dark: #6D7D8B;
    --color-background: white;

    /* Sizes */
    --card-shadow: 0px 10px 15px 0px #7E616140;
}

h1 {
    font-size: var(--font-size-h1);
}

h2 {
    font-size: var(--font-size-h2);
}

.justify {
    display: flex;
    justify-content: center;
    align-items: center;
}

.justify-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


body {
    margin: 0;
    font-family: "Mulish", sans-serif;
    font-weight: normal;
}

header {
    color: var(--color-background);
    text-align: center;
    padding: var(--font-size-nav);
}

nav {
    display: flex;
    justify-content: center;
    gap: 4.5rem;
    margin-top: var(--font-size-nav);
}

nav a {
    text-decoration: none;
    font-family: "Open Sans", sans-serif;
    font-size: var(--font-size-nav);
    font-weight: 400;
    text-align: center;
    color: var(--color-primary);
}

.menu-toggle {
    display: none;
}

.burger {
    display: none;
    font-size: 2.5rem;
    cursor: pointer;
    color: black;
}

.logo {
    width: 12rem;
    height: 12rem;
    top: 0.2rem;
    left: 66.7rem;
}

/* Styles for TECHNOFEVERS */
.techno-fevers {
    font-size: var(--font-size-hero-p);
    font-weight: 700;
    text-align: center;
    background-image: linear-gradient(to right, var(--color-secondary) 50.3%, var(--color-primary) 50%);
    color: transparent;
    background-clip: text;
    margin: 0;
}

/* Hero Section */
.hero {
    background-image: url('./assets/Hero-bg.svg');
    background-size: cover;
    background-position: center;
    min-height: 58.3rem;
    height: auto;
    color: var(--color-background);
    text-align: center;
    align-items: center;
}

.wrap {
    max-width: 56.3em;
}

.hero h1 {
    font-size: var(--font-size-h1);
    font-weight: 800;
    text-align: center;
}

.hero p {
    font-family: "Open Sans", sans-serif;
    font-size: var(--font-size-hero-p);
    font-weight: 700;
    text-align: center;
}

.hero input {
    width: 32rem;
    padding: var(--font-size-nav);
    height: 5.6rem;
    border-radius: 0.4rem;
    border: 0.2rem solid #BBC8D4;
    box-sizing: border-box;
    font-size: 1.6rem;
    font-weight: 600;
    text-align: left;
}

.hero input::placeholder {
    font-family: "Mulish", sans-serif;
    font-weight: 600;
    color: var(--color-text-light);
}

.hero button {
    width: 16.5rem;
    height: 5.6rem;
    border: 0;
    border-radius: 0.4rem;
    background-color: var(--color-secondary);
    color: var(--color-background);
    font-size: 1.6rem;
    font-weight: 700;
    text-align: center;
}

/* About Us Section */
.about-us {
    text-align: center;
    padding: 5rem 2rem;
    background-color: var(--color-background);
    max-width: 96em;
    min-height: 63.4em;
    margin: -6em auto;
    box-shadow: var(--card-shadow);
}

.about-us span {
    font-size: var(--font-size-h1);
    font-weight: 400;
    color: var(--color-primary);
    ;
    margin-bottom: 1rem;
    display: block;
}

.underline {
    width: 15.7rem;
    height: 0.2rem;
    background-color: var(--color-secondary);
    border: none;
    margin: 0 auto 4rem auto;
}

.about-us p {
    font-family: "Open Sans", sans-serif;
    text-wrap: wrap;
    max-width: 80rem;
    margin: 0 14% 5% 14%;
    font-size: var(--font-size-hero-p);
    color: var(--color-text-dark);
}

.values {
    gap: 20rem;
    margin-top: 4.5rem;
    position: relative;
}

.value-item {
    text-align: center;
    z-index: 1;
}

.circle {
    width: 4.9rem;
    height: 4.9rem;
    border-radius: 50%;
    border: 0.2rem solid var(--color-primary);
    ;
    background-color: var(--color-background);
    margin: 0 auto 1rem;
}

.circle img {
    width: 3.1rem;
    height: 1.9rem;
}

.value-title {
    font-family: "Open Sans", sans-serif;
    width: 10.6rem;
    height: 5.8rem;
    font-size: var(--font-size-hero-p);
    font-weight: 400;
    text-align: left;
    color: var(--color-text-dark);
}

.horizontal-line {
    position: absolute;
    top: 2.5rem;
    left: 50%;
    transform: translateX(-50%);
    width: 80rem;
    height: 0.1rem;
    background-color: var(--color-primary);
    ;
}

.container {
    margin: 13.3em 0 0 0;
}

.container h2 {
    text-align: center;
    color: var(--color-primary);
}

.container-box {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 3rem;
    padding: var(--font-size-h2) var(--font-size-nav);
    max-width: 82vw;
    margin: 0 auto;
}

.card {
    background-color: var(--color-background);
    box-shadow: var(--card-shadow);
    padding: 1vw;
    width: 36.7rem;
    min-height: 29.6rem;
    text-align: center;
    height: auto;
    z-index: 1;
}

.service-card {
    background-color: var(--color-background);
    box-shadow: var(--card-shadow);
    padding: 1vw;
    width: 36.7rem;
    min-height: 29.6rem;
    text-align: center;
    height: auto;
}

.icon {
    font-size: 3.6rem;
    margin-bottom: 1rem;
    padding-top: 3.808rem;
}

.title {
    font-size: 2.6rem;
    font-weight: normal;
    color: var(--color-primary);
    margin-bottom: 1.5rem;
}

.description {
    font-family: "Open Sans", sans-serif;
    font-size: var(--font-size-hero-p);
    color: #495C76B2;
}

/* Achievements Section */
.achievements {
    background-color: var(--color-secondary);
    color: var(--color-background);
    padding: 5rem 0;
    text-align: center;
    margin-top: -13rem;
    min-height: 46.6em;
    height: auto;
    box-sizing: border-box;
}

.achiev-desc {
    font-size: var(--font-size-hero-p);
    font-weight: 400;
    color: var(--color-background);
    flex-wrap: wrap;
    margin: 0.7% 25% 0 25%;
}

.achievements h3 {
    font-size: 4em;
    margin-bottom: 1rem;
}

.achievement-box {
    display: inline-block;
    width: auto;
}

.achievement-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
    gap: 3rem;
    padding: auto;
    max-width: 82vw;
    margin: auto;
}

.achievement-box p {
    font-family: Open Sans;
    font-size: var(--font-size-mobile);
    font-weight: 600;
    line-height: 2.1rem;
}

.heading {
    margin-top: 7%;
}

/* What We Do Section */
.services {
    margin: 13.3em 0 0 0;
}

.services h2 {
    font-family: Mulish;
    font-size: var(--font-size-h1);
    font-weight: 400;
    text-align: center;
    color: var(--color-primary);
    margin-top: 14%;
    margin-bottom: var(--font-size-nav);

}

.service-box {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 3rem;
    padding: var(--font-size-h2) var(--font-size-nav);
    max-width: 82vw;
    margin: 0 auto;
}

/* Our Mission Section */
.mission {
    margin: 15rem 0 0 0;
    width: 100%;
}

.mission div {
    background-color: var(--color-secondary);
    color: var(--color-background);
    height: 67rem;
    padding: 0 10rem;
}

.mission div h2 {
    font-weight: 700;
}

.mission div p {
    font-size: var(--font-size-hero-p);
    font-weight: 600;
    text-align: center;
    margin-top: 3.5rem;
    padding-left: 6%;
    padding-right: 6%;
}

.mission button {
    font-size: var(--font-size-button);
    font-weight: 700;
    margin-top: 6.5rem;
    padding: var(--font-size-hero-p) 3.6rem;
    background-color: var(--color-secondary);
    border: 0.2rem solid var(--color-background);
    border-radius: calc(var(--font-size-h2)/10);
    color: var(--color-background);
    cursor: pointer;
}

/* Team Section */
.team {
    margin: 13.3rem 0 0 0;
}

.teamcards {
    display: flex;
    justify-content: flex-start;
    overflow-x: auto;
    gap: 3.4%;
    padding: var(--font-size-h2) var(--font-size-nav);
    max-width: 85vw;
    margin-left: 5%;
    scrollbar-width: none;
}

.teamcard {
    background-color: var(--color-background);
    box-shadow: var(--card-shadow);
    min-width: 33.7rem;
    min-height: 50rem;
    text-align: left;
    height: auto;
    box-sizing: border-box;
    border-radius: 0.8rem;
}

.teamcard img {
    width: 100%;
}

.team-val {
    padding: 5%;
}

.role {
    font-weight: 600;
    color: var(--color-text-dark);
    padding: 0.5%;
    font-size: var(--font-size-mobile);
}

.team-desc {
    font-family: "Open Sans", sans-serif;
    font-size: var(--font-size-button);
    color: #697694;
}

.team h1 {
    font-weight: 400;
    color: var(--color-primary);
    position: relative;
}

.next {
    width: 78%;
    color: var(--color-primary);
    font-family: Open Sans;
    font-size: 2.178rem;
    font-weight: 600;
    text-align: right;
}

/* Testimonials Section */
.test {
    margin: 15rem 0 0 0;
}

.test h1 {
    font-weight: 400;
    color: var(--color-primary);
    position: relative;
}

.testimonals {
    display: flex;
    justify-content: flex-start;
    overflow-x: auto;
    gap: 2.4%;
    padding: var(--font-size-h2) var(--font-size-nav);
    max-width: 85vw;
    margin-left: 5%;
    scrollbar-width: none;
}

.testimonal {
    background-color: var(--color-background);
    box-shadow: var(--card-shadow);
    padding: 8% 2% 0 4.5%;
    min-width: 36.7rem;
    min-height: 44.4rem;
    text-align: left;
    height: auto;
    box-sizing: border-box;
    border-radius: 0.8rem;
}

.review {
    font-weight: 400;
    color: var(--color-text-dark);
    padding: 0.5%;
    font-size: var(--font-size-hero-p);
}

.profile {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-top: 15%;
}

.profile p {
    font-family: Open Sans;
    font-size: var(--font-size-hero-p);
    font-weight: 600;
    padding-left: 5.5%;
    text-align: left;
    color: var(--color-text-dark);
}

.profile span {
    font-size: var(--font-size-mobile);
    font-weight: 400;
}

.arrows {
    width: 80%;
    display: flex;
    justify-content: flex-end;
}

.arrows img {
    margin: 1.5%;
}

/* Contact Section */
.contact {
    background-color: var(--color-secondary);
    color: var(--color-background);
    text-align: center;
    padding: 5rem;
    margin-top: 8%;
}

.contact-head {
    font-size: var(--font-size-h1);
    font-weight: 600;
    text-align: center;
    margin-top: 2%;
}

.contact-desc {
    font-family: Open Sans;
    font-size: var(--font-size-nav);
    font-weight: 400;
    text-align: center;
    padding: 0 30rem 0 30rem;
}

.contact input {
    margin-top: 4%;
    width: 26.7rem;
    padding: var(--font-size-nav);
    height: var(--font-size-h1);
    border-radius: 0.4rem;
    border: 0.2rem solid #BBC8D4;
    box-sizing: border-box;
    font-size: var(--font-size-button);
    font-weight: 600;
    text-align: left;
}

.contact input::placeholder {
    font-family: "Mulish", sans-serif;
    font-weight: 600;
    color: var(--color-text-light);
}

.footer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 3rem;
    padding: auto;
    max-width: 82vw;
    height: 17vh;
    margin: auto;
}

.footer-left p {
    font-family: Open Sans;
    font-size: var(--font-size-mobile);
    font-weight: 400;
    text-align: left;
    color: var(--color-primary);
}

.footer-left,
.footer-right {
    display: flex;
    align-items: center;
}

.footer-left {
    justify-content: flex-start;
}

.footer-right {
    justify-content: flex-end;
}

.footer-right img {
    margin-right: 1.5rem;
    font-size: 2.5rem;
    color: #5b3b70;
    text-decoration: none;
}

.footer-right img:hover {
    cursor: pointer;
    color: #000;
}

@media (max-width: 120rem) {
    body {
        display: flexbox;
    }

    .achiev-desc {
        margin: 0.7% 10% 0 10%;
    }

    .service-card {
        width: auto;
    }

    .mission img {
        display: none;
    }

    .contact-desc {
        padding: 0 3% 0 3%;
    }

    .footer {
        padding: 5%;
    }

}

@media (max-width: 80rem) {
    .container-box {
        padding: var(--font-size-nav);
        grid-template-columns: 1fr;
        justify-items: center;
    }
}

@media (max-width: 30rem) {
    .card {
        width: 95%;
    }

    .teamcards {
        display: grid;
        gap: 3rem;
        height: auto;
        margin: auto;
    }

    .teamcard {
        min-width: auto;
        min-height: auto;
        width: auto;
        height: auto;
    }
}

@media (max-width: 50rem) {
    .horizontal-line {
        display: none;
    }

    .value-item {
        display: none;
    }
}

@media (max-width: 60rem) {
    nav {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 6rem;
        right: 1rem;
        width: 50%;
        background-color: var(--color-background);
        padding: 1em;
    }

    .menu-toggle:checked+.burger+nav {
        display: flex;
    }

    .burger {
        display: block;
    }

    .logo {
        width: var(--font-size-h1);
        height: var(--font-size-h1);
    }

    .logo-flex {
        display: flex;
        justify-content: space-between;
    }

    .logo-center {
        display: flexbox;
        justify-content: center;
    }

    .logo-flex p {
        font-size: 0.596rem;
    }

    .hero h1 {
        font-size: var(--font-size-h2);
        margin: 0 10% 0 10%;
    }

    .hero p {
        font-size: var(--font-size-button);
        padding: 0 10% 0 10%;
    }

    .hero input {
        width: 30rem;
        height: 5.2rem;
    }

    .hero button {
        margin-top: 5%;
        width: 15.5rem;
        height: 5.2rem;
    }

    .about-us {
        padding-bottom: 0;
    }

    .about-us span {
        font-size: 3rem;
    }

    .about-us .underline {
        margin-bottom: 8rem;
    }

    .about-us p {
        font-size: var(--font-size-button);
        line-height: 2.5rem;
        margin: 8% 0 0 0;
    }

    .achievements {
        transform: translateY(-4rem);
        padding: 12rem 0rem;
    }

    .achievements h3,
    .services h2 {
        font-size: 3rem;
    }

    .achiev-desc {
        transform: translateY(1.5rem);
        font-size: var(--font-size-button);
        line-height: 3rem;
    }

    .services {
        margin-top: 0;
    }

    .title {
        font-size: var(--font-size-nav);
    }

    .description {
        font-size: var(--font-size-button);
        padding: 1%;
    }

    .mission {
        margin-top: 5rem;
    }

    .mission div {
        height: 100vh;
        padding: 0;
    }

    .mission h2,
    .team h1,
    .test h1,
    .contact-head {
        font-size: 3rem;
        text-align: center;
    }

    .mission p,
    .contact-desc {
        font-size: var(--font-size-button);
        line-height: 2.6rem;
    }

    .next {
        display: none;
    }

    .contact input {
        margin-top: 20%;
        width: 26.7rem;
        height: var(--font-size-h1);
    }

    .footer-left,
    .footer-right {
        justify-content: center;
    }
}