.container {
	@include justify;
	margin: 13.3em 0 0 0;
	h2 {
		text-align: center;
		color: $color_2;
	}
}
.container-box {
	@include justify-column;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
	gap: 3rem;
	padding: $font-size-h2 $font-size-nav;
	max-width: 82vw;
	margin: 0 auto;

    @include responsive(tab) {
        padding: $font-size-nav;
		grid-template-columns: 1fr;
		justify-items: center;
    }
}
.card {
	background-color: $color_1;
	box-shadow: $card-shadow;
	padding: 1vw;
	width: 36.7rem;
	min-height: 29.6rem;
	text-align: center;
	height: auto;
	z-index: 1;
    @include responsive(card) {
        width: 95%;
    }
}
.icon {
	font-size: 3.6rem;
	margin-bottom: 1rem;
	padding-top: 3.808rem;
}
.title {
	font-size: 2.6rem;
	font-weight: normal;
	color: $color_2;
	margin-bottom: 1.5rem;
    @include responsive(mobile) {
        font-size: $font-size-nav;
    }
}