/* Colors */
$color-1: white;
$color-2: #553D67;
$color_3: black;
$color_4: transparent;
$color-5: #BBC8D4;
$color-6: #6D7D8B;
$color_7: #495C76B2;
$color_8: #697694;
$color_9: #5b3b70;
$color_10: #000;
$font-family_1: "Mulish", sans-serif;
$font-family_2: "Open Sans", sans-serif;
$font-family_3: Open Sans;
$font-family_4: Mulish;
$background-color: #F64C72;

/* Sizes */
$card-shadow: 0px 10px 15px 0px #7E616140;

/* Font Sizes */
$font-size-h1: 4.8rem;
$font-size-h2: 4rem;
$font-size-hero-p: 1.8rem;
$font-size-button: 1.6rem;
$font-size-mobile: 1.4rem;
$font-size-nav: 2rem;

/* Font Families */
$font-family_1: "Mulish", sans-serif;
$font-family_2: "Open Sans", sans-serif;
$font-family_3: Open Sans;
$font-family_4: Mulish;

/* Responsive breakpoints */
$breakpoint-tab: 80rem;
$breakpoint-mobile: 60rem;